blockquote {
	padding: 1px 20px;
	margin: 0 0 20px;
	border-left: 5px solid #eee;
}

* {
	font-display: swap;
	color-scheme: light;
}

table.table {
	border-collapse: collapse;
	/*移动到中间*/
	margin-left: 50%;
	transform: translateX(-50%);
}

table.table,
.table th,
.table td {
	border: 1px solid #666;
}

.table th,
.table td {
	padding: 5px;
}

.table th {
	background-color: rgba(250, 250, 248, 0.8);
}